doctype xml
doctype 1.1
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title= CONTENTS
    link(rel='stylesheet' type='text/css' href='../css/ebook.css')
  body
    if overrideContents
      div!= overrideContents
    else
      div(class='contents')
        h1= CONTENTS
        each section, i in sections
          unless section.excludeFromContents
            a(href=`s${i + 1}.xhtml`)= section.title
            br
